<h1>About Us</h1>

<div class="block" id="block-text">
	<div class="secondary-navigation">
    	<ul class="wat-cf">
        	<li class="active first"><a href="#block-text">Welcome</a></li>
        </ul>
    </div>
    <div class="content">
            <h2 class="title">Welcome to CSedu</h2>
            <div class="inner">
<p>
  <a href="http://evening-fog-9855.herokuapp.com/">CSedu</a>
  is a project to make ComputerSceince education rescourse availave
  in one site with some examples on different topics
</p>
</div>
</div>
</div>
