<h1>Contact</h1>
<div class="block" id="block-text">
	<div class="secondary-navigation">
    	<ul class="wat-cf">
        	<li class="active first"><a href="#block-text">Welcome</a></li>
        </ul>
    </div>
    <div class="content">
            <h2 class="title">Welcome to CSedu</h2>
            <div class="inner">
<p>
  Contact CSedu about the tutorials at 
  <a>aalshafa (at) cs (dot) utsa (dot) edu</a>.
</p>
</div>
</div>
</div>

