<h1>Help</h1>
<p>
  Get help on different CS topics from free online Computer Science and Programming Books
  <a href="http://www.freetechbooks.com/">FreeTechBooks</a>.
  Get help on Algorithms and Data Structures with implemenations in Java and C++
  <a href="http://www.algolist.net/">Algorithms and Data Structures</a>.
</p>
