<p>At CSedu you will the answer to most of your question</p>

<p>
	This website has been 
    created by UTSA Computer Science Student. Main purpose of this website is to help students to learn 
    and be able to find a great source of knowledge that will help then understand materials better.
</p>
<div class="clmn1">
	<p>
		<!--empty-->
	</p>
</div>
<p>
<br />
</p>
<br />
<p>
	<!--empty-->
</p>
<div class="spacer"></div>
<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
