<header>
	<div id="pageframe"> 
  	<div id="titlearea">	   
	   <h1>Welcome to CS edu</h1>
       <h2>The source of knowlegde</h2>
	</div>
		<div id="topmenuback">
	
		<div class="menutopbox"> 
			<a class="topmenutextlive" href=<%= about_path%>>About</a>
		</div>
		<div class="menutopbox"> 
			<a class="topmenutextlive" href=<%= root_path%>>Home</a> 
		</div>
		<div class="menutopbox"> 
			<a class="topmenutextlive" href=<%= help_path%>>Help</a>
		</div>
		<div class="menutopbox"> 
			<a class="topmenutextlive" href=<%= signup_path%>>Sign-up</a>
		</div>
		<div class="menutopbox"> 
			<a class="topmenutextlive" href="#">Sign-in</a>
		</div>

	</div>
	</div>
</header>
