	<!--Left Area of the page -->
	<div id="leftarea" style="width: 10.6em">
	
		<div class="menubox">
				<a class="sidemenutextlive"  href=<%=root_path%> >Main Page</a>
		</div>		
		<div class="menubox">
				<a class="sidemenutextlive"  href="#" style="width: 110%">Free Tools</a>
		</div>
		<div class="menubox">
				<a class="sidemenutextlive"  href="#">Hot Topics</a>
		</div>
		<div class="menubox">
		<a class="sidemenutextlive"  href="#">News</a>
		</div>
		
		 	<hr />

	<div class="menubox" style="height: 33px">
		<a class="sidemenutextlive"  href="Classes.htm" style="width: 110%; height: 29px;" >Commandline Cheat Sheet</a>
	</div>
	<ul id="normal">
		<li><a class="sidesubmenutext" href="#" style="width: 95%">cp</a></li>
		<li><a class="sidesubmenutext" href="#"  style="width: 95%">mv</a></li>
		<li><a class="sidesubmenutext" href="#"  style="width: 95%">cat</a></li>
		<li><a class="sidesubmenutext" href="#"  style="width: 95%">nc / netcat</a></li>
		<li>
		<a class="sidesubmenutext" href="#"  style="width: 95%; margin-left: 0px;">List All</a></li>
	</ul>


 	<hr />

    <div class="menubox" style=" width: 78%">
        <a class="sidemenutext" href="#" >Sitemap</a>
    </div>

	<p>&nbsp;</p>

	<p class="center">Last Updated on<br /> 10-26-2011</p>
    <p>&nbsp;</p>

	</div>	
	<!--End Left Area -->

	<!--Right Area of the page -->
	<div id="rightarea">
	
	<div class="center">
		<form name="searchform" method="get" action="http://www.google.com" id="searchform">
        	<label for="search">
        		<input type="text" id="search" name="keywords" size="18" maxlength="140" />
        		<input type="submit" name="Search" value="Search" />
        	</label>
     	</form>
     </div>
 
 	<hr />
	
	<div class="menubox">
		<a class="sidemenutextlive"  href="Classes.htm" style="width: 105%" >Classes</a>
	</div>
	<ul id="normal">
		<li><a class="sidesubmenutext" href="#"  style="width: 95%">Web Technology</a></li>
		<li><a class="sidesubmenutext" href="#"  style="width: 95%">Computer and Information Security</a></li>
		<li><a class="sidesubmenutext" href="#"  style="width: 95%">System Programming</a></li>
		<li><a class="sidesubmenutext" href="#"  style="width: 95%">Programming Languages</a></li>
		<li><a class="sidesubmenutext" href="#"  style="width: 95%">List All</a></li>
	</ul>


 	<hr />

	<div class="menubox">
		<a class="sidemenutextlive"  href="#" style="width: 105%" >Languages</a>
	</div>
	<ul id="normal">
		<li><a class="sidesubmenutext" href="#" style="width: 95%">C++/C</a></li>
		<li><a class="sidesubmenutext" href="#" style="width: 95%">Java</a></li>
		<li><a class="sidesubmenutext" href="#" style="width: 95%">PHP</a></li>
		<li><a class="sidesubmenutext" href="#" style="width: 95%">Ruby on rails</a></li>
		<li><a class="sidesubmenutext" href="#" style="width: 95%">SQL</a></li>
		<li><a class="sidesubmenutext" href="#" style="width: 95%">Perl</a></li>
		<li><a class="sidesubmenutext" href="#" style="width: 95%">List All</a></li>
	</ul>


 	<hr />



	</div>
	<!--End Right Area -->