	<div class="block">
		<h3>Classes </h3>
			<ul class="navigation">
				<li><a href="classes/cs4413" >Web Technology</a></li>
				<li><a href="#" >Computer and Information Security</a></li>
				<li><a href="#" >System Programming</a></li>
				<li><a href="#" >Programming Languages</a></li>
				<li><a href="#" >List All</a></li>
			</ul>
	</div>
	<div class="block">
		<h3>Languages </h3>
		<ul class="navigation">
			<li><a href="#" >C++/C</a></li>
			<li><a href="#" >Java</a></li>
			<li><a href="#" >PHP</a></li>
			<li><a href="#" >Ruby on rails</a></li>
			<li><a href="#" >SQL</a></li>
			<li><a href="#" >Perl</a></li>
			<li><a href="#" >List All</a></li>
		</ul>
	</div>